/* Regular (400) */
@font-face {
    font-family: 'vivosans';
    src: url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Regular.woff2') format('woff2'), url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Medium (500) */
@font-face {
    font-family: 'vivosans';
    src: url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Medium.woff2') format('woff2'), url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* DemiBold (600) */
@font-face {
    font-family: 'vivosans';
    src: url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-DemiBold.woff2') format('woff2'), url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* Bold (700) */
@font-face {
    font-family: 'vivosans';
    src: url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Bold.woff2') format('woff2'), url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* ExtraBold (800) */
@font-face {
    font-family: 'vivosans';
    src: url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-ExtraBold.woff2') format('woff2'), url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Heavy (900) */
@font-face {
    font-family: 'vivosans';
    src: url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Heavy.woff2') format('woff2'), url('https://cdn.jsdmirror.com/gh/kazukokawagawa/chiyupic@main/fonts/vivosans/vivoSans-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
