pre.code {
    white-space: pre-wrap;
    font-family: 'Fira Code', monospace;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
    color: #d4d4d4;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(50, 50, 50, 0.9);
    border: 2px solid plum;
    margin-top: 30px;
    margin-bottom: 0px;
}

code::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0 -10px 0;
    background: linear-gradient(to right, plum, #d4d4d4, plum);
    border-radius: 1px;
}

    pre.code > :not(code) {
        font-size: 1.3rem;
        font-weight: bold;
    }