html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0.5), rgba(221, 160, 221, 0.5));
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-family: 'vivo-sans', '游ゴシック体', 'Yu Gothic UI', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}

h2 {
    font-size: 1.7rem;
}

.titlebox {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 182, 193, 0.5);
    border: 2px solid plum;
    margin-inline: 20vw;
    margin-top: 30px;
    margin-bottom: 50px;
}

.box {
    padding: 20px;
    margin-inline: 20vw;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid plum;
}

    .box p, .box ul, .box ol {
        font-family: YouYuan;
        list-style-type:none;
    }

    .box p ul, .box p ol  {
        list-style-type:inherit;
    }

        .box p.middle {
            text-align: center;
        }

a:link, a:visited {
    color: plum;
}

a:hover, a:focus {
    color: blueviolet;
    text-decoration: none;
}

.titlebox:hover, .titlebox:focus, .box:hover, .box:focus {
    background-color: lightyellow;
    border-color: blueviolet;
}

.edittime {
    font-size: 0.7rem;
    color: gray;
    text-align: end;
    margin-top:50px;
}

@media (max-width: 600px) {
    .music,
    .titlebox,
    .box {
        margin-inline: 2vw;
        margin-top: 16px;
    }

    .music {
        font-size: 1.2rem;
    }

    img.inline-flex {
        max-width: 90%;
        margin: 8px auto;
        display: block;
    }

    img.block {
        max-width: 98%;
        margin: 12px auto;
    }
}