html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0.5), rgba(221, 160, 221, 0.5));
    background-attachment: fixed;
    text-align:center;
}

header {
    margin-bottom: 70px;
}

h1 {
    font-family: 'vivo-sans', '游ゴシック体', 'Yu Gothic UI', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 182, 193, 0.5);
    border: 2px solid plum;
    margin-inline: 20vw;
    margin-top: 30px;
    margin-bottom: 50px;
}

h2 {
    font-size: 1.7rem;
}

p {
    text-justify: inter-word;
    margin: 20px;
    line-height: 1.6;
}

a:link,a:visited {
    color:plum;
}

a:hover, a:focus {
    color: blueviolet;
    text-decoration: none;
}

a:active{
    color:aqua;
}

footer {
    padding: 5px;
    font-family: YouYuan;
    font-size: 1.2rem;
    color: gray;
    border-radius: 15px;
    background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid plum;
    margin-top: 40px;
    margin-inline: 20vw;
}

ul {
    padding: 20px;
    margin-inline: 20vw;
    border-radius: 15px;
    background-color: rgba(173, 216, 230, 0.5);
    border: 2px solid plum;
}

    ul:hover, ul:focus ,footer:hover,footer:focus,h1:hover,h1:focus{
        background-color: lightyellow;
        border-color: blueviolet;
    }

li {
    line-height: 1.8;
    list-style-type: none;
    font-size: 1.2rem;
}

p.aboutme {
    font-family: YouYuan;
}